body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 2%;
  top: 10%;
  margin-top: 1%;
}

.logo{
  position: relative;
  left: 6%;
  top: 10% ;
  width: 10%;
  margin-top: 1%;
}
.search{
  position: absolute;
  left:  15%;
  width: 40%;
  margin-top: 2%;
  margin-left: 10%;
}

.panier{
  position: absolute;
  right: 10%;
  height: 100%;
  margin-top:auto;
  margin-right:auto; 
  z-index:0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.cadre{
 border: 2px solid red;
 width: 100%;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
